@import "../../vendor/livewire/flux/dist/flux.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: theme('colors.gray.200', currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    /* CAMBIATO: outline-none invece di outline-hidden */
    @apply outline-none ring-2 ring-zinc-800 ring-offset-2;
}